@font-face {
    font-family: Raleway;
    src: url(Raleway.ttf);
}
html {
 
}
h1,h3,h5,h6{
	font-family: Raleway;
}
h3{
	margin-top: 0px;
}
.center-text{
	text-align: center;
}
p{
	text-align: center;
	padding: 0.5rem !important;
}
.card{
	
}
.dp{
	border-radius: 100%;
	overflow: hidden;
}
.pic{
	width:300px;
}
.white{
	color:white;
}
.inline{
	display:inline-block;
	padding-right:1rem !important;
	padding-left:1rem !important;
}.nav-tab{
	color:#263238;
	text-align:center;
	transition: 0.2s;
}
.nav-tab:hover{
	background: #263238;
	color:white;
	 box-shadow: 0 27px 24px 0 rgba(0, 0, 0, 0.2), 0 40px 77px 0 rgba(0, 0, 0, 0.22);
	transition: 0.5s;
}
.active-page{
	background: #263238;
	color:white;
	box-shadow: 0 27px 24px 0 rgba(0, 0, 0, 0.2), 0 40px 77px 0 rgba(0, 0, 0, 0.22);
}
#searchresult{
	display:none;
}
#floorselect{
	display: none;
}
#itemselect{
	display: none;
}
#register-form .row{
	margin-bottom:0px !important;
}
.no-bottom{
	margin-bottom:0px !important;
}
.no-top{
	margin-top:0px !important;
}
.top-space{
	padding-top:1rem !important;
}
.username{
	width:200px;
	white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis;
    padding:0rem !important;
    cursor:pointer;
}
.placeholder-layout{
	border:1px solid #263238;
	border-radius: 2px;
	margin: 0px;
	margin-right: 5px;
	padding: 0px;
	display: inline-block;
}
.floor-layout{
	margin-bottom: 5px;
}
.placeholder-layout span{
	white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis;
	margin: 0px;
	padding: 0px;
	display: block;
	text-align: center;
	background: #263238;
	color:white;
	box-shadow: 0 27px 24px 0 rgba(0, 0, 0, 0.2), 0 40px 77px 0 rgba(0, 0, 0, 0.22);
}
.hidden{
	display:none !important;
}

.btn:hover{
	 box-shadow: 0 27px 24px 0 rgba(0, 0, 0, 0.2), 0 40px 77px 0 rgba(0, 0, 0, 0.22);
}